.home.accounts {
    .currentHead {
        margin: 0;
        height: 70px;
        padding-top: 20px;
        margin-bottom: 20px;
        align-items: center;

        .mid.ant-col-8 {
            padding: 0 2px;
        }

        .ant-col-8 {
            padding: 0;
            height: 45px;

            &.active {
                height: 50px;

                div {
                    height: 50px;
                    line-height: 50px;
                    background-color: #ffcc33;
                    color: #333;
                }
            }

            div {
                height: 45px;
                line-height: 45px;
                text-align: center;
                cursor: pointer;
                background-color: #8f8f8f;
                color: #fff;
            }
        }
    }

    .total {

        line-height: 40px;
        padding: 30px 0 0 0;

        .col-sm-3 {
            text-align: center;
        }
    }

    .header {
        position: relative;

        .recharge_btn {
            position: absolute;
            height: 32px;
            top: 15px;
            right: 20px;
            line-height: 32px;
            width: 100px;
            border-radius: 4px;
            color: #333;
            background-color: #ffcc33;
            text-align: center;
            cursor: pointer;
        }
    }

    .noData {
        height: 420px;
        line-height: 420px;
        text-align: center;
        font-size: 45px;
    }

    .form {
        padding: 40px 20px;

        .row,
        .ant-row {
            height: 40px;
            margin-bottom: 30px;

            .apply {
                height: 30px;
            }

            .recharge_money {
                width: 250px;
                height: 32px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding-left: 10px;
                margin-right: 20px;
            }

            .recharge {

                .btn.btn-primary,
                .ant-btn {
                    background-color: #fff;
                    color: #f13c3c;
                    height: 32px;
                    line-height: 20px;
                    margin-left: 20px;
                    border-color: #f13c3c;

                    &:hover {
                        background-color: #f13c3c;
                        color: #fff;
                    }

                }
            }

            .submit_btns {

                .btn,
                .ant-btn {
                    height: 32px;
                    line-height: 20px;
                    margin-right: 40px;

                    &.gray {
                        background-color: #ccc;
                        border-color: #ccc;
                    }
                }
            }

        }

        .ant-col-4 {
            text-align: right;
        }
    }
}