#top_tips_container,
#top_tips_container_publish {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 99.9%;
    z-index: 499;
    overflow: hidden;

    .gb_hintbar {
        width: 100%;
        position: relative;
        background: rgba(238, 78, 59, 0.85);

        .text_close {
            position: absolute;
            right: 210px;
            top: 10px;
            width: 14px;
            height: 14px;
            font-size: 14px;
            color: #fff;
            line-height: 14px;
            font-family: Tahoma;
            font-weight: bold;
            overflow: hidden;
            text-align: center;
        }

        .inner {
            width: 960px;
            height: 40px;
            margin: 0px auto;
            position: relative;

            .hintbar_txt {
                font-size: 17px;
                font-family: "Microsoft Yahei", "黑体";
                padding-top: 10px;
                color: white;
                text-align: center;
            }
        }
    }
}

.hide-top-tip {
    display: none;
}

#product_detail {
    .pt-details-main {
        width: 1220px;
        margin: 0 auto;

        .pt-details-top {
            margin-top: 20px;
            font-size: 16px;
            line-height: 50px;
            text-align: left;
            color: #666;
            border-bottom: 1px solid #b0b0b0;

            &>a {
                color: #666;
            }

            span {
                margin: 0 5px;
            }

            .current-name {
                display: inline;
                color: #f13c3c;
            }
        }

        .main-white-container {
            position: relative;
            margin: 10px 0;
            padding: 30px;
            background-color: #fff;

            .hide-cover {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                display: none;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .logistics-way-box {
                position: absolute;
                top: 50px;
                left: 50%;
                z-index: 11;
                display: none;
                width: 900px;
                height: 600px;
                padding: 30px 60px;
                margin-left: -450px;
                border: 1px solid #eee;
                border-radius: 5px;
                background-color: #fff;

                .title {
                    margin-bottom: 30px;
                    text-align: center;
                    color: #fff;
                    border-radius: 5px;
                    background-color: #f13c3c;
                }

                .second-title,
                .title {
                    height: 40px;
                    line-height: 40px;
                }

                .logistics-main {
                    background-color: #eee;

                    .top-title {
                        border-top: 2px solid #aaa;
                    }

                    .second-title {
                        padding-left: 60px;
                        color: #333;
                        border-radius: 5px;
                        background-color: #cbcbcb;

                        .logistics-price {
                            width: 200px;
                            margin-right: 20px;
                        }

                        .logistics-time {
                            width: 300px;
                        }

                        .logistics-time,
                        .logistics-price {
                            float: right;
                            text-align: center;
                        }

                    }

                    .country-box {
                        padding: 10px 0 10px 50px;
                        background-color: #eee;

                        .choose-box {
                            position: relative;
                            width: 200px;
                            height: 40px;
                            line-height: 40px;
                            background-color: #FFF;
                            border: 1px solid #999;

                            .choose {
                                width: 200px;
                                height: 40px;
                                padding-left: 5px;
                            }

                            &>span {
                                position: absolute;
                                right: 0;
                                top: 0;
                                display: inline-block;
                                width: 38px;
                                height: 38px;
                                text-align: center;
                                line-height: 38px;
                                background-color: #eee;
                            }

                            .item-container {
                                position: absolute;
                                top: 38px;
                                left: -1px;
                                display: none;
                                width: 200px;
                                height: 200px;
                                overflow-y: scroll;
                                border: 1px solid #999;

                                .item {
                                    padding-left: 5px;
                                    background-color: #FFF;
                                    cursor: pointer;

                                    img {
                                        width: 40px;
                                        height: 20px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }

                    .logistics-list {
                        height: 180px;
                        overflow-y: auto;
                        background-color: #eee;

                        .each-logistics {
                            margin-left: 10px;
                            height: 60px;
                            line-height: 60px;
                            border-top: 1px solid #bbb;

                            .circle {
                                position: relative;
                                float: left;
                                width: 60px;
                                height: 60px;
                            }

                            &>div {
                                display: inline-block;
                                text-align: center;
                            }

                            .log-name {
                                width: 185px;
                                text-align: left;
                            }

                            .log-time {
                                width: 300px;
                            }

                            .log-price {
                                width: 200px;
                            }
                        }

                        .each-logistics:first-child {
                            border-top: none;
                        }
                    }
                }

                .logistics-operate {
                    text-align: center;

                    .ok {
                        background-color: #66cc99;
                    }

                    .cancel {
                        background-color: #afafaf;
                    }
                }
            }

            &>.left {
                float: left;
                width: 460px;

                img {
                    border: 1px solid #eee;
                }

                .img-container {
                    height: 460px;
                    border: 1px solid #eee;

                    img {
                        margin: 0 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                        cursor: default;
                    }
                }

                .small_img_container {
                    position: relative;
                    width: 100%;
                    height: 99px;
                    margin-top: 10px;
                    padding: 3px 0;
                    overflow: hidden;
                    font-size: 0px;

                    .move-btn.left-btn {
                        position: absolute;
                        left: 0;

                        i {
                            left: 0px;
                        }
                    }

                    .move-btn.right-btn {
                        position: absolute;
                        right: 0;

                        i {
                            right: 0px;
                        }
                    }

                    .move-btn {
                        width: 35px;
                        height: 99px;
                        line-height: 93px;
                        cursor: pointer;
                        position: absolute;
                        background-color: #fff;
                        z-index: 100;
                        padding-top: 8px;
                        line-height: 70px;
                        font-size: 30px;

                        i {
                            font-size: 35px;
                            color: #cbcbcb;
                        }
                    }

                    .img-container-box {
                        height: 99px;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: 0;
                        position: absolute;
                        left: 35px;
                        transition: all 0.3s 0s linear;
                        padding-top: 5px;

                        img {
                            border: none;
                            width: 74px;
                            height: 74px;
                            cursor: pointer;
                            margin: 8px 2px;

                            &.select {
                                outline: 2px solid #ffcc33;
                            }
                        }
                    }
                }
            }

            &>.right {
                float: right;
                width: 650px;
                text-align: left;

                .name {
                    font-size: 24px;
                    line-height: 30px;
                    color: #1b1b1b;
                    font-weight: bold;
                    word-break: break-all;
                }

                .price-area {
                    position: relative;
                    height: 108px;
                    margin: 40px 10px;
                    text-align: center;
                    background-color: #eee;
                    border-radius: 5px;

                    .sorrow-up {
                        position: absolute;
                        top: -25px;
                        left: 15px;
                        width: 0;
                        height: 0;
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        border-bottom: 25px solid #eee;
                    }

                    .price-box {
                        float: left;
                        min-width: 300px;
                        max-width: 320px;
                        height: 60px;
                        margin-top: 20px;
                        color: #b4b4b4;
                        font-size: 12px;

                        .sell-price {
                            font-size: 14px;
                            font-weight: normal;
                            color: #9E9E9E;
                            margin-right: 10px;
                            display: inline-block;
                            text-align: left;
                        }

                        .font-red {
                            color: #ff4141;
                        }

                        span {
                            font-size: 33px;
                            font-weight: bold;
                        }

                        .product_tags {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-top: 2px;
                            overflow: hidden;
                            min-height: 50px;
                            margin-left: 50px;

                            .free_shipping {
                                background-color: #1EB3B1;
                            }

                            .preferred {
                                background-color: #66d5f0;
                            }
                        }

                    }

                    .logistics-price {
                        position: relative;
                        border-left: 1px dashed #bebebe;

                        .font-grey {
                            font-size: 22px;
                            line-height: 42px;
                            color: #646464;
                        }
                    }
                }

                .skus-area {
                    color: #666;

                    .product .right .sku-box {
                        margin-bottom: 8px;
                    }

                    .each-sku {
                        margin: 5px 0;

                        clear: both;

                        .left {
                            width: 70px;
                            height: 30px;
                            overflow: hidden;
                            font-size: 14px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .right {
                            a.not_selected {
                                display: inline-block;
                                color: #666666;
                            }

                            a.selected {
                                display: inline-block;

                                &>.sku-box {
                                    background-color: #f13c3c;
                                    color: #fff;
                                    border-color: #f13c3c;
                                }
                            }

                            .publish {
                                display: inline-block;
                                width: 110px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                color: #333;
                                font-weight: 500;
                                font-size: 18px;
                                background-color: #f3ba28;
                                border-radius: 5px;
                                cursor: pointer;
                            }

                            .choose {
                                background-color: #f13c3c;
                                color: #fff;
                                border-color: #f13c3c;
                            }

                            .sku-box {
                                position: relative;
                                display: inline-block;
                                margin-right: 10px;
                                height: 30px;
                                padding: 0 10px;
                                line-height: 30px;
                                cursor: pointer;
                                border: 1px solid lightgrey;
                                margin-bottom: 8px;
                            }

                            .minus,
                            .add {
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                text-align: center;
                                line-height: 25px;
                                color: #fff;
                                font-size: 16px;
                                background-color: #afafaf;
                                cursor: pointer;
                            }

                            input {
                                width: 50px;
                                height: 30px;
                                margin: 0 5px;
                                line-height: 30px;
                                text-align: center;
                                border: 1px solid lightgrey;
                            }

                        }

                        .left,
                        .right {
                            float: left;
                            line-height: 30px;
                        }

                        .unique-sku-id {
                            display: none;
                        }

                        .platform-label {
                            line-height: 40px;
                        }


                    }

                    .warehouse-type>.left {
                        width: initial;
                        margin-right: 10px;
                    }

                }

                .pt-operate {
                    margin-top: 30px;
                    text-align: right;

                    .download-data {
                        display: inline-block;
                        margin: 20px 20px;
                        line-height: 32px;
                        text-align: center;
                        color: #FFF;
                        font-size: 16px;
                        border-radius: 5px;

                        .own_btn-group {
                            margin-left: 6px;
                            width: 110px;

                            .own_btn {
                                padding: 0px 0px 0px 10px;
                                width: 100%;
                                height: 34px;
                                background-color: #66cc99;
                                border: 1px solid #66cc99;
                                border-radius: 5px;
                                line-height: 34px;
                                text-align: left;

                                .text_limit {
                                    height: 32px;
                                    color: #fff;
                                }

                                .caret {
                                    position: absolute;
                                    top: 15px;
                                    right: 10px;
                                    color: #fff;
                                }
                            }

                            .own_dropdown-menu {
                                width: 195%;
                            }

                            .own_dropdown-menu>li>a {
                                color: #777;
                            }
                        }
                    }

                    .add_shopping_cart {
                        display: inline-block;
                        height: 34px;
                        width: 110px;
                        margin-right: 20px;
                        background-color: #ffcc33;
                        color: #fff;
                        line-height: 34px;
                        border-radius: 5px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 16px;
                        margin-left: 20px;
                    }

                    .buy {
                        background-color: #f13c3c;
                    }

                    .like,
                    .buy {
                        display: inline-block;
                        width: 100px;
                        height: 32px;
                        margin: 20px 20px;
                        line-height: 32px;
                        text-align: center;
                        color: #FFF;
                        font-size: 16px;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }

            .right .onsell_time {
                width: initial;
                margin-right: 10px;
            }

            .main-right {
                width: 100%;

                .top-ul {
                    li {
                        width: auto;
                    }

                }

                .shopee-top-ul,
                .top-ul {
                    margin-bottom: 0;
                    text-align: left;
                    overflow: hidden;
                    border-left: 1px solid #afafaf;

                    li {
                        position: relative;
                        z-index: 1;
                        display: inline-block;
                        float: left;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        font-size: 20px;
                        color: #fff;
                        border-right: 1px solid #FFF;
                        cursor: pointer;
                        background-color: #afafaf;
                    }

                    .current-index {
                        background-color: #FFF;
                        color: #000;
                        border-top: 2px solid #f13c3c;

                        li {
                            position: relative;
                            z-index: 1;
                            display: inline-block;
                            float: left;
                            height: 60px;
                            line-height: 60px;
                            text-align: center;
                            font-size: 20px;
                            color: #fff;
                            border-right: 1px solid #FFF;
                            cursor: pointer;
                            background-color: #afafaf;
                        }

                        li:last-child {
                            border-right: 1px solid #afafaf;
                        }
                    }
                }

                .main-ul {
                    position: relative;
                    top: -1px;
                    padding: 30px;
                    min-height: 315px;
                    border: 1px solid #afafaf;

                    &>li.good-description {
                        word-wrap: break-word;
                    }

                    &>li {
                        display: none;


                    }

                    .good-description {
                        .member-subscription {
                            color: #ff4141;
                            font-size: 14px;
                        }
                    }

                    .parameter {
                        padding-left: 20px;

                        span {
                            padding-right: 3px;
                        }
                    }

                    .parameter-list {
                        margin-top: 20px;
                        overflow: hidden;

                        li:nth-child(odd) {
                            float: left;
                            clear: both;
                        }

                        li {
                            width: 50%;
                            padding-left: 20px;
                            line-height: 24px;

                            span:nth-child(1) {
                                width: auto;
                                padding-right: 3px;
                            }

                            span {
                                display: block;
                                float: left;
                            }
                        }
                    }

                    .services_box {
                        width: 100%;
                        background-color: white;

                        .ebay_services {
                            .title {
                                height: 60px;
                                line-height: 60px;
                                color: #ffffff;
                                background-color: #f13c3c;

                                span.country {
                                    width: 40%;
                                }

                                span.service_content {
                                    width: 60%;
                                }

                                span {
                                    display: inline-block;
                                    text-align: center;
                                }
                            }

                            .tips {
                                margin-top: 20px;
                            }
                        }

                    }
                }
            }

            .member-subscription {

                .qq-tip-charge,
                .qq-tip-be-member {
                    margin-top: 10px;

                    .qq-talk-btn {
                        width: 77px;
                        height: 22px;
                        vertical-align: top;
                        line-height: 22px;

                        img {
                            width: 77px;
                            height: 22px;
                            margin: 0px;
                            display: inline-block;
                        }
                    }
                }

                .qq-tip-charge,
                .qq-tip-be-member {
                    padding-left: 69px;
                    margin-top: 5px;
                }

                .font-red {
                    font-size: 15px;

                    .log-btn,
                    .register-btn {
                        display: inline-block;
                        width: 80px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        background-color: #ffcc33;
                        border-radius: 5px;
                        color: #000;
                        margin: 0 5px;
                    }
                }
            }
        }

        .small_img_container {
            font-size: 0px;
            position: relative;

            .move-btn.left-btn {
                position: absolute;
                left: 0;
                z-index: 1;

                i {
                    left: 0px;
                }
            }

            .move-btn.right-btn {
                position: absolute;
                right: 0;

                i {
                    right: 0px;
                }

                .move-btn {
                    width: 35px;
                    height: 99px;
                    line-height: 93px;
                    cursor: pointer;
                    position: absolute;
                    background-color: #fff;
                    z-index: 100;
                    padding-top: 8px;

                    i {
                        font-size: 35px;
                        color: #cbcbcb;
                    }
                }

            }
        }

        .similar-recommend {
            position: relative;
            height: 400px;
            margin-top: 60px;

            .container-name {
                position: absolute;
                top: -40px;
                left: 20px;
                width: 150px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: #fff;
                font-size: 22px;
                background-color: #f13c3c;
            }

            .left {
                left: 20px;
            }

            .right {
                right: 20px;
            }

            .operate-btn {
                position: absolute;
                top: 150px;
                width: 50px;
                height: 100px;
                color: #fff;
                text-align: center;
                line-height: 100px;
                font-size: 20px;
                cursor: pointer;
                background-color: #eee;

                i {
                    top: 8px;
                }
            }

            .show-recommend {
                width: 960px;
                margin: 5px auto;
                height: 330px;
                overflow: hidden;

                &>ul {
                    width: 400%;
                    margin: 0;
                    padding: 0;
                    transition: all 0.5s;

                    &>li {
                        float: left;
                        margin: 0 40px 0 0;
                        padding: 0;
                        height: 330px;
                        list-style: none;

                        .good-box {
                            display: inline-block;
                            width: 210px;
                            height: 330px;
                            padding: 10px;
                            text-align: center;
                            border: 2px solid #eee;

                            .pt-name {
                                height: 40px;
                                margin-top: 15px;
                                word-wrap: break-word;
                                line-height: 20px;
                                text-align: left;
                                overflow: hidden;
                            }

                            .pt-price {
                                padding-left: 5px;
                                text-align: left;
                                line-height: 30px;
                                font-size: 20px;
                                font-weight: 500;
                                color: #ff4141;
                                border-bottom: 1px solid #999;
                            }

                            .publish {
                                float: right;
                            }
                        }
                    }
                }
            }
        }

    }

    .recommend-image {
        cursor: pointer;

        img {
            width: 1220px;
            height: 100px;
        }
    }
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .supplier_warehouse,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .transfer_warehouse,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .oversea_warehouse,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .free_shipping,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .new,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .preferred,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .boutique,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .sole_agency,
#product_detail .pt-details-main .main-white-container>.right .price-area .price-box .product_tags .infringement_risk {
    float: left;
    background: #1779d8;
    z-index: 30;
    display: inline-block;
    height: 20px;
    padding: 0 4px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 5px;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
    position: relative;
    float: left;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
    position: relative;
    float: left;
}

.own_btn {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    line-height: 50px;
    text-align: left;
    color: #999;
    white-space: normal;
    background: #fff;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text_limit {
    display: inline-block;
    float: left;
    height: inherit;
    overflow: hidden;
    width: 73%;
}

.btn .caret {
    margin-left: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.pull-left {
    float: left !important;
}

.own_dropdown-menu {
    width: 100%;
    min-width: 0;
    max-height: 180px;
    overflow-y: auto;
}

/* 弹窗 */
@media (min-width: 576px) {
    .modal-dialog.detail_modal {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

.detail_modal {
    .modal-header .close {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .modal-title {
        width: 100%;
    }

    .modal-body {
        padding-bottom: 50px;

        li {

            input,
            .dropdown-toggle {
                width: 300px;
                height: 36px;
            }

            .btn-success {
                color: #fff;
                background-color: #f13c3c;
                border-color: #f13c3c;
            }

            .dropdown-menu {
                width: 300px;
                text-align: center;
            }
        }
    }

    .modal-footer {
        border-top: none;

        .btn-primary,
        .btn-primary:hover {
            color: #fff;
            background-color: #f13c3c;
            border-color: #f13c3c;
        }
    }

    .shopChose {
        display: flex;
        margin-top: 20px;


    }
}

/* 产品编辑 */
.detail_edit.home {
    .panel-body {
        .header {
            height: 40px;
            line-height: 40px;
            background-color: #f13c3c;
            color: #fff;
            text-align: center;
            margin: 20px 0;
        }

        .row {
            min-height: 34px;
            margin-bottom: 15px;

            .dropdown {
                height: 34px;

                button {
                    line-height: 34px;
                    padding: 0 10px;
                }

                .btn-success:hover,
                .btn-success {
                    color: #fff;
                    background-color: #f13c3c;
                    border-color: #f13c3c;
                }

                .btn-success:focus {
                    box-shadow: none;
                }
            }

            .btn {
                line-height: 34px;
                padding: 0 10px;
                border: none;
            }
        }

        .image_note {
            background: #aed9d966;
            padding: 10px;
            border-radius: 2px;
            color: #f13c3c;

            ul {
                list-style: disc;
                padding-left: 20px;
            }
        }

        .update_buttons {
            padding: 10px 0;

            .btn {
                margin-right: 5px;
            }

            .update_image {
                position: relative;

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                }
            }
        }





        .input-group {
            .form-control {
                width: auto;
                border-radius: 4px 0 0 4px;
            }

            .input-group-append {
                height: 34px;
            }
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        textarea.form-control {
            height: auto;
        }

        .textarta_wrap {
            border: 1px solid #ddd;
            border-radius: 2px;

            .top {
                border-bottom: 1px solid #ddd;
                height: 50px;
                padding: 10px;

                p {
                    line-height: 40px;
                    height: 40px;
                    border: 1px solid #ddd;
                    border-bottom: none;
                    border-radius: 4px 4px 0 0;
                    text-align: center;
                    width: 100px;
                }
            }

            .bom {
                padding: 10px;
                background-color: #f5f5f5;
                overflow: hidden;

                textarea {
                    width: 100%;
                }

                .form_note {
                    line-height: 34px;
                }

                .col-sm-6 {
                    margin-bottom: 10px;
                    float: left;

                    &:after {
                        display: table;
                        width: 0;
                        height: 0;
                        content: "",

                    }
                }

                .col-sm-12 {
                    float: left
                }
            }
        }
    }
}

.detail.home {
    font-size: 14px;

    .calculate {
        .all-user-tip {
            padding-left: 0;
            margin-bottom: 5px;
        }

        .tip-overseas-product,
        .all-user-tip {
            font-size: 15px;
            color: #f00;
            margin-bottom: 10px;
            padding-left: 75px;
        }

        .row {
            margin: 20px 0;


            .product_detail:nth-child(1) span:nth-child(1) {
                padding-right: 10px;
            }

            .col-sm-6 {
                label {
                    width: 100px;
                }

                input {
                    height: 34px;
                    width: 200px;
                    padding-left: 12px;
                    border-radius: 4px;
                }

                .dropdown {
                    display: inline-block;

                    .btn-success {
                        background-color: #fff;
                        color: #333;
                        height: 34px;
                        border-color: #ccc;
                        font-size: 14px;
                        width: 200px;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .dropdown-menu.show {
                        min-width: 200px !important;
                        max-height: 200px;
                        overflow-y: scroll;
                    }
                }

                .dropdown-toggle::after {
                    position: absolute;
                    top: 15px;
                    right: 10px;
                }

                .own_btn-group .own_dropbtn {
                    width: 175px;
                    text-align: left;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .calculate_btn {
                button {
                    width: 80px;
                    height: 30px;
                    color: #fff;
                    border: 1px solid #66cc99;
                    background-color: #66cc99;
                    border-radius: 5px;
                }
            }

        }

        input#number {
            margin-left: 3px;
            text-align: center;
        }

        .product-number .number {
            padding-left: 59px;

            label {
                width: 65px;
            }
        }

        .store-size {
            height: 34px;
            line-height: 34px;

            .info {
                padding-left: 44px;
                height: 34px;
                line-height: 34px;

                .detail {
                    width: 111%;
                    margin: -8px 0;

                    .product_detail {
                        padding-left: 14px;
                        font-weight: normal;
                        margin: 8px 0px 19px 0px;

                        .weight {
                            margin-left: 10px;
                        }
                    }

                    .daynumber {
                        margin-left: 13px;
                        font-weight: normal;
                    }

                    .daynumber-end {
                        margin-left: 8px;
                        font-weight: normal;
                    }
                }
            }

            label {
                text-align: center;
                padding-left: 10px;
            }
        }

        .country_boxs {

            .tip {
                margin-top: 10px;
                padding-left: 12px;
            }


        }

        .country_box {
            width: 115%;
            margin: 0px 0px 0px 99px;

            .own_btn-group {
                width: 202px;
                margin: 0;
                padding: 1px;
                border-radius: 5px;

                .own_dropdown_menu {
                    min-width: 0;
                    width: 100%;
                    max-height: 260px;
                    overflow: auto;

                    &.select_multiple li {
                        padding-left: 10px;
                        white-space: nowrap;
                    }
                }

                .backW {
                    width: 175px;
                }
            }

            .hot_country {
                margin: 15px 0px 0px 0px;
                margin-right: 10px;

                margin-bottom: 15px;

                .check_box {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin: 0px 4px 0px 0px;
                    text-align: center;
                    line-height: 20px;
                    vertical-align: middle;
                    border-radius: 5px;
                    cursor: pointer;
                }

            }

            .selected_box {
                width: 70%;
                margin: 13px 0px 0px;
                padding: 25px 20px 1px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background: #eee;

                .box {
                    position: relative;
                    display: inline-block;
                    margin: 0 30px 20px 0;
                    padding: 5px 10px;
                    border: 1px solid #000;
                    cursor: pointer;

                    &>span {
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        line-height: 12px;
                        font-weight: 700;
                        font-size: 20px;
                        color: #fff;
                        text-align: center;
                        border-radius: 50%;
                        background: #777;
                        content: "";
                        cursor: pointer;
                        ;
                    }
                }
            }

        }

        .waybill-btn {
            position: relative;
            height: 30px;

            .calculate_btn {
                position: absolute;
                right: 0;
            }
        }
    }
}

.ant-modal-wrap.modal-meitu {
    margin: 0 auto;

    .ant-modal {
        height: 100%;

        .ant-modal-content {
            height: 95%;

            .ant-modal-body {
                padding: 0;
                height: 100%;
            }
        }
    }
}

.ant-drawer-body {
    padding-bottom: 52px;
}

.product_edit_draw {
    height: calc(100% - 55px - 48px);
    overflow: auto;

    .keywordadd_icon {
        cursor: pointer;

        &:hover {
            color: #f13c3c;
        }
    }

    .image_note {
        background: rgba(174, 217, 217, .4);
        padding: 10px;
        border-radius: 2px;
        color: #f13c3c;
    }

    .ant-upload-list {
        display: none;
    }

    .btns {
        margin: 20px 0;

        button {
            margin-right: 15px;
        }
    }

    .image_sort_note {
        display: flex;
        justify-content: space-between;
        background: #f1e4be;
        border-radius: 2px;
        height: 40px;
        line-height: 40px;
        color: #c4a11f;
        padding: 0 10px;

        span {
            cursor: pointer;
        }
    }

    .image_content {
        margin-top: 20px;
        overflow: hidden;

        .image_item {
            width: 140px;
            height: 220px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 2px;
            float: left;

            img {
                width: 100%;
                height: 160px;
                display: block;
            }

            .img_check {
                background-color: #f5f5f5;
                height: 26px;
                padding: 0 5px;
                line-height: 26px;
            }

            .img_bom {
                display: flex;
                justify-content: space-between;
                padding: 0 5px;
                line-height: 26px;

                span {
                    cursor: pointer;

                    &:hover {
                        color: #f13c3c;
                    }
                }
            }
        }
    }

    .panel-item {
        border-top: 1px dashed #ccc;
        margin-top: 20px;
        padding-top: 20px;

        .attr_list {
            padding: 20px 100px;
            margin: 10px auto;
            border-radius: 4px;
            background-color: #fafafa;
            position: relative;

            .delete_icon {
                cursor: pointer;
                position: absolute;
                right: 80px;
                top: 28px;
            }
        }

        .add_attr {
            padding: 20px 100px;
            margin: 10px auto;
            border-radius: 4px;
            border: 1px dashed #ccc;
            font-size: 24px;
            text-align: center;
            padding: 5px 0 15px;
            cursor: pointer;
        }
    }
}