@media screen and (max-height: 639px) {
    footer:not(.guest) {
        padding-left: 100px;
    }
}

footer {
    float: left;
    min-width: 100%;
    margin-top: 40px;
    background-color: #333;

    .container:after {
        content: " ";
        display: table;
    }

    .helps_box {
        color: #ffffff;
        padding: 40px 0 10px;
        width: 1045px;
        margin: 0 auto;

        .help {
            float: left;
            margin-right: 60px;
            width: 20.5%;

            ul li {
                margin: 10px 0;

                img {
                    width: 150px;
                    height: 150px;
                }

                a {
                    color: #ffffff;
                    font-size: 14px;
                }

                &:hover a {
                    color: #f13c3c;
                }


            }

            h4 {
                padding-bottom: 10px;
                border-bottom: 2px solid;
                font-size: 18px;
            }
        }

        .help:nth-of-type(4) {
            margin: 0;
        }
    }

    .frined_link {
        color: #ffffff;
        padding-top: 20px;
        width: 1045px;
        margin: 0 auto;
        border-top: 2px solid;

        .clear {
            overflow: hidden;
        }

        h4 {
            text-align: left;
            font-size: 18px;
        }

        ul li {
            float: left;
            padding: 10px 20px 10px 0;
            line-height: 14px;

            &:hover a {
                color: #f13c3c;
            }

            a {
                font-size: 14px;
                color: #ffffff;
                line-height: 14px;
            }
        }
    }

    .foot-record {
        width: 1045px;
        height: 40px;
        margin: 0 auto;
        padding: 10px 0 0;
        text-align: left;
        color: #fff;
        letter-spacing: 1px;

        p {
            display: inline;
            margin: 3px 30px 0 0;
            font-size: 12px;
        }
    }
}

footer .container {
    width: 1220px;
    margin: 0 auto;
}