.goods_wrap {
    .goods_show_wrap {
        margin: 35px 0 0;
        padding: 20px 20px 0;
        border-top: 8px solid #f13c3c;
        background: #fff;

        .left_box {
            position: relative;
            float: left;
            height: 280px;
            width: 450px;

            img {
                height: 280px;
                width: 450px;
            }

            .title {
                position: absolute;
                bottom: 30px;
                left: 30px;
                cursor: pointer;
                width: 400px;
                padding: 20px;
                background: rgba(51, 153, 153, 0.8);

                h4 {
                    margin: 0;
                    padding-left: 40px;
                    font-size: 20px;
                    text-align: center;
                    letter-spacing: 30px;
                    color: #fff;
                }

                p {
                    color: #fff;
                    font-size: 0.8em;
                    text-align: center;
                    letter-spacing: 2px;
                }
            }
        }

        a {
            display: block;
        }

        .right_box ul li {
            float: left;
            width: 220px;
            height: 280px;
            margin: 0 0 20px 15px;

            .each_box {
                width: inherit;
                height: 220px;

                img {
                    width: 220px;
                    max-height: 220px;
                }
            }

            .title {
                padding: 10px 30px 10px 10px;
                height: 60px;
                background: #eee;
                font-size: 14px;

                p {
                    margin-bottom: 9px;
                    color: #333;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 16px;
                }

                strong {
                    color: #ee4e3b;
                    font-size: 16px;
                }
            }
        }
    }
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}