.orders.home {
    .main {
        background: #fff;
        margin-top: 20px;

        .header {
            line-height: 60px;
            padding-left: 20px;
            font-size: 14px;
            border-bottom: 1px solid #ccc;
            color: #666;

            .tip {
                color: #df3730;
                margin-left: 30px;
            }
        }

        .search {
            padding: 20px 20px 10px 20px;

            .item.margin0 {
                margin-right: 0;
            }

            .item {
                display: flex;
                margin-right: 30px;
                display: inline-block;
                margin-bottom: 20px;

                .title {
                    margin-right: 20px;
                    display: inline-block;
                }

                input {
                    height: 35px;
                    line-height: 35px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    position: relative;
                    vertical-align: middle;
                }

                .dropdown {
                    display: inline-block;
                    height: 35px;
                }

                .dropdown-toggle:empty::after,
                .dropdown-toggle::after {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }

                .dropdown-menu {
                    min-width: 130px;
                }

                .btn {
                    padding: 4px 12px;
                    background-color: #fff;
                    color: #333;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    width: 130px;
                    height: 35px;
                    text-align: left;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .item.drop {

                .dropdown-menu {
                    min-width: 110px;
                }

                .btn {
                    padding: 4px 12px;
                    background-color: #339999;
                    color: #fff;
                    font-size: 14px;
                    border: 1px solid #339999;
                    width: 110px;
                    height: 35px;
                    border-radius: 4px 0 0 4px;
                    vertical-align: middle
                }

                input {
                    border-left: none;
                    border-radius: 0px 4px 4px 0;
                    padding-left: 10px;
                    width: 345px;

                }
            }

            .item.account {
                .btn {
                    width: 200px;
                }

                .dropdown-menu {
                    min-width: 200px;
                }
            }

            .flexul {
                .dropdown-menu {
                    min-width: 200px;
                }

                .btn {
                    width: 200px;
                }
            }

            .analysis {
                .input1 {
                    width: 220px;
                    padding-left: 10px;
                }

                .input2 {
                    width: 470px;
                    padding-left: 10px;
                }
            }

            .btns {

                .btn-primary,
                .btn-primary:not(:disabled):not(.disabled):active,
                .btn-primary:not(:disabled):not(.disabled).active,
                .show>.btn-primary.dropdown-toggle {
                    background-color: #ffcc33;
                    border-color: #ffcc33;
                    margin-right: 20px;
                    color: #333
                }

                .btn-primary:not(:disabled):not(.disabled):active:focus,
                .btn-primary:not(:disabled):not(.disabled).active:focus,
                .show>.btn-primary.dropdown-toggle:focus {
                    box-shadow: none;
                }

                .tip {
                    margin: 30px 0 10px 0;
                    font-size: 15px;
                    font-weight: normal;
                    color: #f00;
                }
            }

            .bomBar {
                display: flex;
                justify-content: center;
                height: 60px;
                border-bottom: 5px solid #cbcbcb;
                margin-bottom: 20px;

                li {
                    width: 200px;
                    line-height: 60px;
                    text-align: center;
                    border-bottom: 5px solid #cbcbcb;
                    margin-bottom: -5px;
                    cursor: pointer;

                    &:hover {
                        color: #339999;
                    }

                    &.active {
                        border-bottom: 5px solid #339999;
                        color: #339999
                    }


                }
            }
        }

        .table {
            padding: 0 20px;

            tr {
                text-align: center;
            }

            thead {
                tr {

                    background-color: #339999;

                    color: #fff;

                    th {
                        border: none;
                    }
                }
            }

        }
    }
}