.product.home {

    .main {
        background-color: #fff;
        margin-top: 50px;
        padding: 25px 20px 40px;

        .search {
            .row_1 {
                height: 32px;
                margin-bottom: 20px;

                input {
                    width: 100%;
                    height: 32px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    width: 430px;
                }

                .react-datepicker__input-container {
                    input {
                        width: 160px;
                    }
                }
            }

            .col-sm-9 {
                display: flex;

                .dropdown {
                    margin-right: 20px;

                    .dropdown-menu {
                        width: 108px;
                        min-width: 108px;
                    }

                    .btn {
                        padding: 4px 12px;
                        background-color: #fff;
                        color: #333;
                        font-size: 14px;
                        border: 1px solid #ccc;
                        width: 108px;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:focus {
        color: #fff;
        background-color: #f13c3c;
        border-color: #f13c3c;
        box-shadow: none;
    }

    table {
        margin-top: 40px;

        thead {
            tr {
                background-color: #f13c3c;

                th {
                    border: none;
                    text-align: center;
                    vertical-align: middle;
                }

            }
        }
    }
}