.search_box {
    margin: 0 auto;
    padding: 40px 0 10px;
    width: 80%;

    .input_group {
        height: 50px;
        width: 80%;
        margin: 0 auto;

        input {
            float: left;
            width: 90%;
            height: 100%;
            min-width: 546px;
            padding: 0 20px;
            border: 1px solid #dcdcdc;
            border-right: none;
            border-radius: 5px 0 0 5px;
        }

        .search_btn {
            position: relative;
            float: left;
            width: 50px;
            height: 50px;
            text-align: center;
            background: #ffcc33;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            border: 1px solid #ffcc33;
            border-left: 0;

            span {
                position: absolute;
                top: 15px;
                left: 15px;
                font-size: 1.5em;
                color: #fff;
            }
        }

    }
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-search:before {
    content: "\e003";
}