.sign_container {
    background: url('../images/login_bg.jpg') 100% no-repeat;
    padding-top: 40px;

    canvas {
        position: absolute !important;
        top: 0;
    }

    .signin {
        margin: 0 auto;
        position: absolute;
        z-index: 99;
        width: 100%;
    }
}

.login_back {
    position: relative;
    top: -85px;
    left: 95px;
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* @media (max-height: 550px) {
    .signin {
        width: 760px;
    }
}

@media (max-height: 650px) {
    .signin {
        width: 890px;
    }


} */

#new_user {
    width: 30%;
    min-width: 400px;
    margin: 0 auto;
    padding: 40px 60px;
    border-radius: 10px;
    background: linear-gradient(230deg, rgba(198, 193, 198, 0) 0%, #031545 100%);
    // box-shadow: 0 16px 100px 12px rgba(33, 33, 33, 0.7);
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);

    .login_back {
        position: relative;
        top: -85px;
        left: 95px;
        float: right;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .password,
    .email,
    .login,
    .phone,
    .company_name,
    .real_name {
        position: relative;

        p {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 20px;
            line-height: 42px;
            font-weight: 900;
            color: #e33416;
        }
    }

    .logo {
        position: relative;
        display: block;
        width: 50%;
        margin: 0 auto 3%;
    }

    &>p {
        margin: 0;
        margin-bottom: 10.5%;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #D3D7F7;

    }

    .password {
        .input {
            // border-top: none;
            border-radius: 0 0 2px 2px;
            border-radius: 2px;
        }
    }

    .login {
        .input {
            // border-radius: 2px 2px 0 0;
            border-radius: 2px;
        }
    }

    .input {
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        padding: 0 20px;
        font-size: 1em;
        border: none;
        background: transparent;

        &:-webkit-autofill,
        &:-internal-autofill-selected {
            background-color: rgb(232, 240, 254) !important;
            // background-color: transparent !important;
            background-image: none;
            -webkit-text-fill-color: #fff;
            color: #fff;
        }
    }

    input:-internal-autofill-selected {
        background-color: transparent !important;
        background-image: none;
        color: #fff !important;
    }


    .forget_password {
        float: right;
        margin-top: 3%;
        letter-spacing: 1px;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .submit_button .input {
        display: block;
        height: 42px;
        margin: 20px auto 0;
        line-height: 3;
        font-size: 1em;
        font-weight: 500;
        color: #4FA1D9;
        border: 2px solid #4FA1D9;
        border-radius: 21px;
        background: transparent;
        text-align: center;
        cursor: pointer;
        transition-property: background, color;
        transition-duration: .2s;

        &:hover {
            background: #4FA1D9;
            color: #fff;
        }

    }

    .bottom_notes {
        margin-top: 3%;
        letter-spacing: 1px;
        font-family: sans-serif;
        color: #fff;

        a {
            color: #4FA1D9;
        }
    }
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.password-visible-control {
    position: absolute;
    right: 10px;
    top: 16px;
    width: 14px;
    height: 14px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.check_box {
    display: inline-block;
    margin-top: 3%;

    p {
        margin: 0;
        color: #fff;

        span {
            display: inline-block;
            width: 5px;
            height: 22px;
            margin: 0 10px 0 0;
            vertical-align: middle;
        }
    }
}