.sign_container {

    .signin {
        margin: 0 auto;
    }
}

.login_back {
    position: relative;
    top: -85px;
    left: 95px;
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-height: 550px) {
    .signin {
        width: 760px;
    }
}

@media (max-height: 650px) {
    .signin {
        width: 890px;
    }


}

#new_user {
    width: 540px;
    margin: 20px auto;
    padding: 40px 60px;
    border-radius: 10px;
    background: #333;
    box-shadow: 0 16px 100px 12px rgba(33, 33, 33, 0.7);

    .login_back {
        position: relative;
        top: -85px;
        left: 95px;
        float: right;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .password,
    .email,
    .login,
    .phone,
    .company_name,
    .real_name {
        position: relative;

        p {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 20px;
            line-height: 50px;
            font-weight: 900;
            color: #e33416;
        }
    }

    .logo {
        position: relative;
        display: block;
        width: 30%;
        margin: 0 auto 3%;
    }

    &>p {
        margin: 0;
        margin-bottom: 10.5%;
        text-align: center;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 1px;
        color: #bbb;
    }

    .input {
        display: block;
        width: 100%;
        height: 50px;
        margin-top: 5.5%;
        padding: 0 20px;
        font-size: 1em;
        border: none;
        border-radius: 4px;
    }

    .forget_password {
        float: right;
        margin-top: 3%;
        letter-spacing: 1px;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .submit_button .input {
        display: block;
        width: 75%;
        margin: 8% auto 0;
        line-height: 3;
        font-size: 1em;
        font-weight: 500;
        color: #fff;
        border: none;
        border-radius: 4px;
        background: #339b99;
        text-align: center;
        cursor: pointer;
    }

    .bottom_notes {
        margin-top: 3%;
        letter-spacing: 1px;
        font-family: sans-serif;
        color: #fff;
    }
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.password-visible-control {
    position: absolute;
    right: 10px;
    top: 16px;
    width: 14px;
    height: 14px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.check_box {
    display: inline-block;
    margin-top: 3%;

    p {
        margin: 0;
        color: #fff;

        span {
            display: inline-block;
            width: 30px;
            height: 22px;
            margin: 0 10px 0 0;
            vertical-align: middle;
        }
    }
}