@import 'topbar';
@import 'banner';
@import 'searchBox';
@import 'footer';
@import 'goodsList';
@import 'signInAndUp';
@import 'sidebar';
@import 'detail';
@import 'searchList';
@import 'b2c';
@import 'product';
@import 'orders';
@import 'self';
@import 'accounts';
@import 'members';
@import 'drap';

html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    ;

    ul,
    li,
    ol,
    p,
    h4 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        cursor: pointer;
    }

    input {
        outline: none;
    }

    .clear::after {
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
        content: ".";
    }

    body {
        background-color: #eee;

        .btn-primary,
        .btn-primary:hover {
            color: #fff;
            background-color: #f13c3c;
            border-color: #f13c3c;

            &:focus {
                box-shadow: none;
            }
        }

        .table-bordered th,
        .table-bordered td {
            text-align: center;
        }
    }
}

.ant-modal-close-x:focus,
.ant-drawer-close:focus {
    outline: none
}

/* 返回顶部与客服 */
.right_sidebar {
    position: fixed;
    bottom: 25%;
    right: 0;
    z-index: 50;
    background: rgba(133, 127, 127, 0.6);

    div {
        padding: 10px 0;
        width: 60px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: #f13c3c;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        // background: url(http://cdn-resources-aliyun.kjds.com/assets/right_sidebar_pic-a3eb315….png) no-repeat 5px 3px/50px 100px;
    }

    .back_top {

        padding-bottom: 10px;
        background-size: 60px 120px;
        background-position: -1px -69px;

        a {
            padding-top: 0;
        }
    }
}

.home {

    .main {
        padding: 0;
        width: 1220px;
        padding-bottom: 100px;
        margin: 0 auto
    }
}

#root {
    .pagination {
        display: flex;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        text-align: right;
        justify-content: flex-end;

        li {
            display: inline-block;
            margin: 0 5px;

            a {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #666;
                background-color: #ccc;
                border: 1px solid #ccc;
                margin-left: -1px;

                &:hover {
                    background-color: #f13c3c;
                    color: #fff;
                }
            }

            &.active {
                a {
                    background-color: #f13c3c;
                    border: 1px solid #f13c3c;
                    z-index: 0;
                    color: #fff;
                }
            }
        }
    }

    .ant-input-group-addon .ant-select-open .ant-select-selection,
    .ant-input-group-addon .ant-select-focused .ant-select-selection {
        color: #fff;
    }
}


#root .ant-input-group-addon .ant-select-open .ant-select-selection,
#root .ant-input-group-addon .ant-select-focused .ant-select-selection {
    color: rgba(0, 0, 0, .65);
}

.react-datepicker-popper {
    z-index: 2 !important;
}